@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --board-bg: #edd674;
}

body {
  background-color: #f3f4f6;
  margin: 0;
  font-family: "Inter", "PingFang SC", "Microsoft YaHei", sans-serif;
}
